extends layout
block style
	link(rel = "stylesheet" type = "text/css" href = "/css/cryptowatch.css")
block scripts
	script(src = 'js/get_cryptowatch.js')
block main content
	div#main-container
		div#price-container
			#h2 PRICE
			p#price cryptowatch page 
		div#hl-container
			h2 HIGH-LOW
			span.label HIGH:
			span#high high
			span.label LOW:
			span#low low
		div#change-container
			h2 CHANGE
			p#change change
		div#volume-container
			h2 VOLUME
			p#volume volume



