extends layout
block style
	style.
		.tweetContainer{
			border: solid black 3px;
			border-radius: 15px;
			margin: 5px 0px 5px 0px
		}
		#gameresults{
			margin-top: 100px;
		}
block scripts
	// game page.js
	script(src='js/game_page.js')

block heading
	h1 welcome to the game
block main content
	div#resultcontainer
		div#gameresults
			p game results
