extends layout
block style
	link(rel = "stylesheet", type = 'text/css' href='/css/gamepage.css')
block scripts
	// game page.js
	script(src='js/game_page.js')

block main content
	div#priceDisplay
		p#price price
	div#hsContainer
		div#hs
			p high scores
	div#resultcontainer
		div#gameresults
			p game results
