DOCTYPEhtml
html
	head
		title CryptoTweet
		meta(charset = 'UTF-8')
		link(rel='stylesheet', href='css/bulma/css/bulma.css')
		block style
		block scripts
	body
		block navbar
			div.container
				nav.navbar.is-dark.is-fixed-top
					div.navbar-brand
						h2.navbar-item Crypto Tweet 
					div.navbar-menu.is-active
						.navbar-start
							a.navbar-item(href='/') home 
							a.navbar-item(href='/cryptowatch') cryptowatch 
							a.navbar-item(href='/tweets') tweets 
				
				section.section
		block heading
			h1 heading
		block main content
			p main content
		block footer
			p footer


